@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--Background, black);
  font-family: "SF Pro Display", sans-serif;
}

body {
  margin: auto;
  max-width: 1440px;
  height: 1024px;
}

ul {
  list-style-type: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 16px 40px;
  gap: 431px;
  border-bottom: 0.5px solid #3d3d3d;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.headerUl {
  gap: 60px;
  margin: auto;
  color: #bdbdbd;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -20px;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar ul {
  display: flex;
}

.ullast {
  gap: 20px;
}

.nav_getstarted {
  border-radius: 40px;
  background-color: #2b892e;
  color: white;
  padding: 8px 12px;
  cursor: pointer;
  border: 1px solid #2b892e;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
  width: 50%;
  padding: 50px;
}

.intro a {
  text-decoration: none;
  color: #dcdcdc;
  border-radius: 100px;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  font-size: 16px;
  font-weight: 400;
}
.intro h1 {
  width: 140%;
  color: #fff;
  text-align: center;
  font-family: SF Pro Display;
  font-size: 96px;
  font-weight: 400;
}

.intro h2 {
  color: #bdbdbd;
  text-align: center;
  width: 600px;
  margin-top: 20px;
  font-weight: 400;
}

.intro .getstarted {
  border-radius: 40px;
  background-color: #2b892e;
  color: white;
  justify-content: center;
  padding: 16px 32px;
  margin-top: 20px;
  cursor: pointer;
  border: 1px solid #2b892e;
}
